REACT_APP_API_ID=your-api-id --- The API Gateway ID 
REACT_APP_API_STAGE=dev
REACT_APP_REGION=eu-west-1 --- The AWS region where your API Gateway and Cognito User Pool are deployed
REACT_APP_COGNITO_USER_POOL_ID=eu-west-1_123123 --- The Cognito User Pool ID check the user-pools -> "pool" -> Overview -> User pool ID
REACT_APP_COGNITO_USER_POOL_CLIENT_ID=your_client_id_here --- The Cognito App Client ID check the user-pools -> "pool" -> App clients
REACT_APP_COGNITO_DOMAIN_PREFIX=demo --- The Cognito Domain prefix for your User Pool (e.g. if your domain is demo.auth.eu-west-1.amazoncognito.com, then the prefix is demo) check the user-pools -> "pool" domain
REACT_APP_REDIRECT_SIGN_IN=http://localhost:3000/ --- The URL to which Cognito will redirect after a successful sign in (must be added to the Cognito App Client settings)
REACT_APP_REDIRECT_SIGN_OUT=http://localhost:3000/ --- The URL to which Cognito will redirect after a successful sign out (must be added to the Cognito App Client settings)
REACT_APP_OAUTH_RESPONSE_TYPE=token
