REACT_APP_API_ID=your-api-id
REACT_APP_API_STAGE=dev
REACT_APP_REGION=eu-west-1
REACT_APP_COGNITO_USER_POOL_ID=eu-west-1_123123
REACT_APP_COGNITO_USER_POOL_CLIENT_ID=your_client_id_here
REACT_APP_COGNITO_DOMAIN_PREFIX=demo
REACT_APP_REDIRECT_SIGN_IN=http://localhost:3000/
REACT_APP_REDIRECT_SIGN_OUT=http://localhost:3000/
REACT_APP_OAUTH_RESPONSE_TYPE=token
